body {
    background-image: url(/img/fresh_snow.png);
}

.text {
    font-family: "Prata", serif;
    color: white;
}

.main-head {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: "Prata", serif;
    color: #181818;
}

.large {
    font-size: 3em;
}

.row {
    text-align: center;
    margin-bottom: 30px;
}

a:link {
    color: #f5f5f5;
}

a:visited {
    color: #f5f5f5;
}

a:hover {
    color: #f5f5f5;
}

.button {
    height: 120px;
    padding: 8px 18px 30px;
    text-align: center;
    border: 2px solid #181818;
    border-radius: 10px;
    font-family: "Prata", serif;
    font-size: 1.5em;
    color: #f5f5f5;
    text-shadow: 2px 2px 4px #000000;
}

.shadow {
     box-shadow: 4px 4px 3px #181818;
}

.butterfly {
    background-image: url(/img/screenShotCaB.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.weather {
    background-image: url(/img/screenShotWeather.png);
    background-size:cover;
    background-repeat: no-repeat;
}

